@CHARSET "UTF-8";

* {
	margin :0;
	padding :0;
	font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}

.clear {
	clear :both;
}

body {
	background-image: url("../images/bg1.jpg");
	height :1500px;
}

h1 {
	color :#FFF;	
}

h2 {
	line-height :35px;
	font-size :large;
	text-indent :3em;
	font-weight :bold;
	height :30px;
	color :#FFF;
}


#wrapper {
	width :1200px;
	margin :auto;
}

#header_title{
	height :200px;
}

#title_lol {
	color :#FFF;
	font-size :5em;
	float :left;
	position :relative;
	 top :10px;
	 left :20px;
}

#title_hazimeyou {
	color :#FFF;
	position :absolute;
	top :70px;
	right :80px;
	font-size :2em;
}

#content {
	width :1200px;
}




.dd {
	margin :0;
}
.dd p{
	margin :0;
	color :#FFF;
	/*background-color :#D4D0C8;*/
	padding :30px 20px 50px 20px;
	border :solid 1px #E3E3E3;
}

#test {
	color :blue;
}

/*******************  recommend championのcss *****************************/

.radio {
	display :inline-block;
	width :100px;
	margin :auto;
}

.form {
	margin-top :50px;
}

.question {
	border :solid 2px;
}
		

/******************		result のcss****************************************/

#mainImg {
	width=:800px;
	float :left;
}
 
#mainImg img {
position :absolute; 
	margin :20px 20px 20px 0px;
}

#result_content {
	position :relative;
	top :300px;
}

#comment {
	float :right;
	margin :30px 40px 40px 30px;
}


/***********	 question のcss ****************************************/



















































/********/
